@{
  Layout = "_Layout";
}

@model ClairesHairSalon.Models.Stylist

<h4>Add a new stylist</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @class = "text", type = "name", required = "required" })
  @Html.LabelFor(model => model.Age)
  @Html.TextBoxFor(model => model.Age)
  @Html.LabelFor(model => model.HomeTown)
  @Html.TextBoxFor(model => model.HomeTown)
  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(model => model.Specialty)
  <input type="submit" value="Add new stylist" />
}
<p>@Html.ActionLink("Show All Stylist", "Index")</p>