@{
  Layout = "_Layout";
}

@model ClairesHairSalon.Models.Client

@if (ViewBag.Stylists.Count == 0)
{
  <h3>You must first add a stylist before you can add a client.</h3>
  <p>@Html.ActionLink("Add Stylist", "Create","Stylists")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
}
else
{
  <h4>Add a new Client</h4>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "text", type = "name", required = "required" })
    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")
    <input type="submit" value="Add New Client" class="btn btn-default" />
  }
  <p>@Html.ActionLink("Show all clients", "Index")</p>
}
